.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.tableContainer{
    width: 70%;
}
table {
    width: 100%;
}
tr,th,td {
    padding: 10px;
}
td{
    text-align: center;
}