.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width: 50%;
}
.regForm{
    padding:15px;
}
mat-form-field{
    width: 100%;
}

button{
    margin: 5px;
}